In [ ]:
import pandas as pd

In [2]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
bikes_df = pd.read_csv("201908-citibike-tripdata.csv")
bikes_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2

In [3]:
# 2. Check the datatypes of your columns. 
bikes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2344224 entries, 0 to 2344223
Data columns (total 15 columns):
tripduration               int64
starttime                  object
stoptime                   object
start station id           float64
start station name         object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name           object
end station latitude       float64
end station longitude      float64
bikeid                     int64
usertype                   object
birth year                 int64
gender                     int64
dtypes: float64(6), int64(4), object(5)
memory usage: 268.3+ MB

In [4]:
bikes_df["tripduration"].head(2)

0    393
1    627
Name: tripduration, dtype: int64

In [5]:
# 3. Convert the 'tripduration' column to datetime datatype.
bikes_df["tripduration dt"] = pd.to_datetime(bikes_df["tripduration"],unit='s')
bikes_df["tripduration dt"].head(2)

0   1970-01-01 00:06:33
1   1970-01-01 00:10:27
Name: tripduration dt, dtype: datetime64[ns]

In [6]:
# 4. Check the datatypes of your columns. 
bikes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2344224 entries, 0 to 2344223
Data columns (total 16 columns):
tripduration               int64
starttime                  object
stoptime                   object
start station id           float64
start station name         object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name           object
end station latitude       float64
end station longitude      float64
bikeid                     int64
usertype                   object
birth year                 int64
gender                     int64
tripduration dt            datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(4), object(5)
memory usage: 286.2+ MB

In [ ]:
# 5. Export the Dataframe as a new CSV file without the index.
bikes_df.to_csv("CitiBikes.csv",index=False)